.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--main-color);
  color: var(--main-bg-color);
  transform: skewX(-10deg);
  font-size: 2em;
  padding: 0.25em 0.5em 0.25em 0.5em;
  transition: 0.5s;
  border: 4px solid var(--main-color);
}

@media only screen and (min-width: 768px) {
  .logo {
    padding: 0.5em 1em 0.5em 1em;
  }
}

.logo_text {
  transform: skewX(10deg);
}
